<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB7Ddgc_K5x42RwredByAy06qR0M39oD_4</string>
	<key>GCM_SENDER_ID</key>
	<string>548641420453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sleepingPills</string>
	<key>PROJECT_ID</key>
	<string>sleeping-tracker-ea15c</string>
	<key>STORAGE_BUCKET</key>
	<string>sleeping-tracker-ea15c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548641420453:ios:1e663eb838d70839db094c</string>
</dict>
</plist>